/* Tutores.css */

.tutores-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f8ff; /* AliceBlue, um tom suave relacionado a estudos */
    min-height: 100vh;
  }
  
  .search-bar {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .videos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .video-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    background-color: #ffffff; /* Branco para contraste */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .video-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .video-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .video-card p {
    margin: 0;
    color: #666;
  }
  
  .video-player {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  